.root {
  position: relative;
  width: fit-content;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
}
.menu {
  background-color: var(--gray);
  border-radius: 15px;
  width: 188px;
  padding: 0 16px;
  color: var(--white);
  margin-top: 8px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
  cursor: pointer;
}
.item + .item {
  border-top: 1px solid var(--white);
}

.item .label {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
