.label {
  cursor: pointer;
  font-weight: 600;
  padding-left: 8px;
}

.label .input {
  font-weight: 600;
  display: block;
  border: 1px solid #686868;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  margin-top: 8px;
}

.input:focus {
  border: 1px solid var(--orange);
  outline: 1px solid var(--orange);
}
