.label {
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  padding-left: 8px;
}

.label .input {
  font-weight: 600;
  display: block;
  border: 0.5px solid #686868;
  border-radius: 15px;
  padding: 15px 13px;
  width: 100%;
  margin-top: 8px;
}
