.button {
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.primary {
  background-color: var(--gray);
  color: var(--white);
  border: none;
}

.secondary {
  background-color: var(--light-gray);
  color: var(black);
  border: 0.5px solid #686868;
}

.large {
  width: 100%;
  height: 48px;
  font-weight: 600;
}

.medium {
  width: 80px;
  height: 32px;
  font-weight: 600;
}

.small {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  width: 60px;
  height: 24px;
}
