.root {
  background-color: var(--white);
  min-height: 100vh;
  padding: 40px 16px;
}

.icon {
  width: fit-content;
  margin: 0 auto;
}

.submitButtonWrapper {
  margin-top: 60px;
}

.deleteButtonWrapper {
  margin-top: 40px;
}

.selectFriends {
  margin-top: 40px;
}

.selectFriends > p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 12px;
}
