:root {
  /* sizes */
  --main-width: 400px;
  --header-height: 54px;
  --footer-height: 54px;

  /* colors */
  --white: #ffffff;
  --black: #000000;
  --gray: #686868;
  --light-gray: #f5f5f5;
  --orange: #f5ac67;
  --blue: #5d91f5;
  --overlay: rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}
