.root {
  position: relative;
  max-width: var(--main-width);
  margin: 0 auto;
}

.root .main {
  background-color: var(--white);
  min-height: calc(100dvh - var(--header-height));
  padding-bottom: var(--footer-height);
}
