.root {
  background-color: var(--white);
  min-height: 100vh;
  padding: 40px 16px;
}

.icon {
  width: fit-content;
  margin: 0 auto;
}

.submitButtonWrapper {
  margin-top: 60px;
}

.deleteButtonWrapper {
  margin-top: 40px;
}

.confirmModalMessage {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  white-space: pre-wrap;
  word-break: keep-all;
}

.confirmModalMessage span {
  color: var(--orange);
}
