.root {
  background-color: var(--white);
  min-height: 100vh;
}

.pageBody {
  padding: 40px 16px;
}

.userItems {
  display: flex;
  gap: 16px;
}

.copyLink p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin: 40px 0 8px;
  padding-left: 8px;
}
.copyLink {
  margin-bottom: 60px;
}
