.root {
  width: 100%;
  height: 32px;
  border: 0.5px solid var(--gray);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.root .input {
  flex-grow: 1;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  border: none;
  outline: none;
}
