.root {
  position: relative;
  width: 100%;
  /* width: 100%;
  height: 32px;
  border: 0.5px solid var(--gray);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px; */
}
.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input {
  width: 100%;
  height: 32px;
  border: 1px solid var(--gray);
  border-radius: 99px;
  padding-left: 36px;
}

.input:focus {
  border: 1px solid var(--orange);
  outline: 1px solid var(--orange);
}
