.root {
  position: absolute;
  inset: 0;
  background-color: var(--white);
  width: 100%;
  height: 100dvh;
  transition: transform 0.3s ease-in-out;
}
.open {
  transform: translateY(0);
}
.close {
  transform: translateY(100%);
}
.content {
}
