.root {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--white);
  width: var(--main-width);
  margin: 0 auto;
  height: 100dvh;
  transition: transform 0.3s ease-in-out;
}
.open {
  top: 0;
  transform: translateY(0);
}
.close {
  transform: translateY(100%);
}
.content {
}
