.root {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: var(--footer-height);
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--gray);
}
