.root {
  background-color: var(--white);
  min-height: 100vh;
  padding: 40px 16px;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.profileWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 20px 0 32px;
}

.profile {
  flex-grow: 1;
}

.profile .name {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.profile .publicId {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.friends h2 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.friendsItems {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
