.root {
  position: relative;
  width: 100%;
}

.root .pencilLineIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.root .textarea {
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid var(--gray);
  border-radius: 24px;
  outline: none;
  resize: none;
  padding: 10px 12px 10px 32px;
  width: 100%;
  min-height: 32px;
  max-height: 160px;
}
