.root {
  /* width: 100%;
  height: 32px;
  border: 0.5px solid var(--gray);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px; */
  position: relative;
}

.root .pencilLineIcon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.root .textarea {
  flex-grow: 1;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  border: 0.5px solid var(--gray);
  border-radius: 15px;
  outline: none;
  resize: none;
  padding: 10px 12px 10px 32px;
  width: 100%;
  min-height: 32px;
  max-height: 120px;
}
