.root {
  position: relative;
}

.bubble {
  max-width: 200px;
  width: fit-content;
  color: var(--white);
  padding: 12px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}

.rightBubble {
  background-color: var(--gray);
  border-radius: 16px 16px 0px 16px;
  margin-left: auto;
}

.leftBubble {
  background-color: var(--orange);
  border-radius: 0px 16px 16px 16px;
  margin: 20px 0 0 32px;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar > .name {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
