.root {
  position: relative;
}

.bubble {
  max-width: 200px;
  color: var(--white);
  padding: 10px 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}

.rightBubble {
  background-color: var(--orange);
  border-radius: 15px 15px 0px 15px;
  margin-left: auto;
}

.leftBubble {
  background-color: var(--gray);
  border-radius: 15px 15px 15px 0px;
  margin-left: 24px;
}

.avatar {
  position: absolute;
  bottom: 0;
  left: 0;
}
