.root {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.root:hover {
  opacity: 0.7;
}
.container {
  flex-grow: 1;
  overflow: hidden;
}
.container .name {
  font-size: 14px;
  font-weight: 600;
}
.container .latestMessage {
  font-size: 12px;
  margin-top: 4px;
  color: var(--gray);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
