.root {
  padding: 40px 20px;
}

.root h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.root .form {
  padding: 40px 0;
}

.inputWrapper + .inputWrapper {
  margin-top: 16px;
}

.forgetPassword {
  display: block;
  text-align: right;
  margin-top: 16px;

  font-weight: 500;
  font-size: 12px;

  color: var(--blue);
}

.buttonWrapper + .buttonWrapper {
  margin-top: 60px;
}
.buttonWrapper .stayLoggedIn {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}
.buttonWrapper .stayLoggedIn > span {
  font-weight: 500;
  font-size: 12px;
}

.buttonWrapper > p {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 8px;
}
