.root {
  position: fixed;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
}

.content {
  width: 240px;
  height: 288px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 24px;
}
.content > p {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  flex-grow: 1;
  margin: 24px 0;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
