.root {
  position: relative;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
}

.content {
  width: 240px;
  height: 288px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 15px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
