.root {
}
.smallRoot {
  width: 16px;
  height: 16px;
  position: relative;
}
.mediumRoot {
  width: 48px;
}

.image {
}
.mediumImage {
  border-radius: 15px;
}
.mediumName {
  margin-top: 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.name {
}
.smallImage {
  border-radius: 5px;
}
.smallName {
  font-weight: 400;
  font-size: 10px;
  line-height: 6px;
  position: absolute;
  white-space: nowrap;
  transform: scale(0.8);
  transform-origin: left;
}
