.root {
  position: relative;
}
.small {
  width: 16px;
  height: 16px;
}
.medium {
  width: 48px;
  height: 48px;
}
.large {
  width: 72px;
  height: 72px;
}

.image {
  object-fit: cover;
  border-radius: 12px;
}

.smallImage {
  object-fit: cover;
  border-radius: 99px;
}

.name {
  margin-top: 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
