.root {
  position: relative;
}
.small {
  width: 16px;
  height: 16px;
}
.medium {
  width: 48px;
  height: 48px;
}
.large {
  width: 72px;
  height: 72px;
}

.image {
  object-fit: cover;
  border-radius: 12px;
}

.smallImage {
  object-fit: cover;
  border-radius: 5px;
}

.name {
  margin-top: 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.smallName {
  font-weight: 400;
  font-size: 10px;
  line-height: 6px;
  position: absolute;
  white-space: nowrap;
  transform: scale(0.8);
  transform-origin: left;
  margin-top: 4px;
}
