.root {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  border-bottom: 1px solid var(--gray);
  position: relative;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: val(--gray);
}

.menuButton {
  width: 24px;
}
