.root {
  padding: 16px 16px 80px 16px;
}

.messageList {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textarea {
  background-color: var(--white);
  position: fixed;
  bottom: var(--footer-height);
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}
