.root {
  padding: 16px;
  background-color: var(--white);
  min-height: 100vh;
}

.pageHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.messageList {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
